.Header {
    margin-left: auto;
    margin-right: 7rem;
    width: 70%;
    height: auto;
    
}

.headerTitle {
    margin-bottom: 1rem;
    height: auto;
    color: var(--color-text);
}

.contentImage {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
}

.imageClothes {
    position: relative;
    width: auto;
    height: auto;
    z-index: 3;
    border: .3rem solid var(--color-text);
}


.imageClothesPosition {
    width:  12vw;
    height: auto;
    align-self: center;
    justify-self: center;
    opacity: .9;
    position: absolute;
    z-index: 2;
}


.titleFirst {
    display: grid;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.titleFirst h2 {
    width: auto;
    font: var(--font-second);
    text-transform: uppercase;
    margin: 4rem 0 4rem auto;
    
}

.secondFirst {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    height: 50%;
}

.secondFirst h2 {
    font: var(--font-second);
    text-transform: uppercase;
    margin: 4rem 0;
}

.secondFirst div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: var(--font-third);
    text-transform: uppercase;
}

.secondFirst div p {
    margin: 1rem 0;
}



@media screen and (max-width: 500px) {
    .Header {
        width: 80%;
        margin: 2rem auto;
    }

    .titleFirst h2 {
        margin: 1rem 0 1rem auto;
    }
    
    .secondFirst h2 {
        margin: 1rem 0;
    }

    .secondFirst div p {
        margin: .2rem 0;
    }

    .contentBtn {
        width: 42%;
        margin: 1rem 0 1rem auto;
    }
}
    








