.Header {
    margin-left: auto;
    margin-right: 7rem;
    width: 70%;
    height: auto;
    
}

.headerTitle {
    margin-bottom: 1rem;
}

.contentImage {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto ;
    grid-gap: 2rem;
}

.contentImage div {
    width: auto;
    height: auto;
    border: .3rem solid var(--color-text);
}


.titleFirst {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.titleFirst h2 {
    width: auto;
    font: var(--font-second);
    text-transform: uppercase;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.secondFirst {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    height: 150px;
}

.secondFirst h2 {
    font: var(--font-second);
    text-transform: uppercase;
    margin: 4rem 0;
}

.secondFirst div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: var(--font-third);
    text-transform: uppercase;
}

.secondFirst div p {
    margin: 1rem 0;
}

.contentBtn {
    display: grid;
    grid-template-columns: auto auto;
    width: 40%;
    margin: 3rem 0 1rem auto;
    height: 70px;
}

.linkImage {
    position: relative;
    left: auto;
    top: auto;
}

.btnImagePosition {
    position: absolute;
    width: 55px;
    height: 55px; 
}

.btnImageRelative {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 1;
    top: 14px;
    left: 13px;
}






@media screen and (max-width: 500px) {
    .Header {
        width: 80%;
        margin: 2rem auto;
    }

    .headerTitle {
        margin: 1rem 0;
    }

    .titleFirst {
        height: 50px;
    }

    .secondFirst {
        height: 50px;
    }

    .titleFirst h2 {
        font: var(--font-second-mobile)
    }

    .secondFirst h2 {
        font: var(--font-second-mobile);
        margin: 1rem 0;
    }

    .secondFirst div {
        height: 100%;
        font: var(--font-third-mobile);
    }

    .secondFirst div p {
        margin: .2rem 0;
    }
}
    








