:root {
  --backgroun-color-primary: #fcf9ee;
  --background-color-second: #ddc92a;
  --background-color-third: #e7d6c4;
  --color-text: #141414;
  --font-family-base: "Favorit", sans-serif;
  --font-first: normal 400 .85vw/.85vw var(--font-family-base);
  --font-second: normal 400 13vw/2vw var(--font-family-base);
  --font-third: normal 400 4vw/2vw var(--font-family-base);
  --font-fourth: normal 400 2vw/1.5vw var(--font-family-base);
  --font-five: normal 400 2vw/1.6vw var(--font-family-base);
  --font-six: normal 400 3vw/1.6vw var(--font-family-base);
  --font-seven: normal 400 1.5vw/1.5vw var(--font-family-base);

  --font-third-secondary: normal 400 4.3vw/2.5vw var(--font-family-base);
  --font-five-secondary: normal 400 2.5vw/1.6vw var(--font-family-base);
  --font-six-secondary: normal 500 3vw/1.6vw var(--font-family-base);

  --border-div: .2rem solid var(--color-text);

  --cursor-size: 28px;
  --cursor-color: #FAF7EE;

}

::-webkit-scrollbar {
  display: none;
}


body, html {
  margin: 0;
  font-family: "Favorit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroun-color-primary);
  padding: 0;
  overflow-x: hidden;
  cursor: none;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.contentMarquee {
  width: 100%;
  height: auto;
  margin: 7rem 0;
  height: 12vh;
}

.tapeMarquee {
  background-color: var(--background-color-second);
  border-bottom: var(--border-div);
  border-top: var(--border-div);
  overflow: hidden;
  height: 12vh;
  position: relative;
  width: 100%;
}

.contentMarqueeChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  color: var(--color-text);
  overflow: hidden;
}

.childAnimation {
  animation: marqueeAnimation 5s linear infinite; 
  font: var(--font-five);
  white-space: nowrap;
  width: 100%;
  text-transform: uppercase;
}

.childAnimation span {
  margin: 0 .6rem;
  height: 100%;
  vertical-align: text-top;
}

.childAnimation h4 {
  margin: 0;
}

@keyframes marqueeAnimation {
  0% {
    transform: translate3d(0, 0, 0);
    
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
  
}

.titleMarketing {
  width: 70%;
  height: auto;
  margin: 4rem 7rem 4rem auto;
}


.titleContent {
  width: 100%;
  height: auto;
}

.childTwo {
  display: grid;
  grid-template-columns: 1fr auto;
}

.childTwo a {
  text-decoration: none;
  font: var(--font-seven);
  color: var(--color-text);
  text-transform: uppercase;
}

.childTwo a span {
  background-image: linear-gradient(var(--color-text), var(--color-text));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size .2s;
}

.childTwo h4 {
  font: var(--font-third);
  margin: 0;
  color: var(--color-text);
}

.childTwo h4 span {
  background-image: linear-gradient(var(--color-text), var(--color-text));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size .2s;
}

.childGeneral h4 {
  font: var(--font-third);
  color: var(--color-text);
  margin: 2rem 0;
}

.sectionBtn {
  width: 70%;
  height: auto;
  margin: 4rem auto;
  position: relative;
}

.sectionComments {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  height: auto;
  margin: 4rem auto 4rem 0;
}

.sectionFooter {
  width: 100vw;
  overflow: hidden;
  height: auto;
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .contentMarquee {
    height: auto;
    margin: 0;
  }

  .tapeMarquee {
    height: 7vh;
  }

  .childAnimation {
    font: var(--font-six);
  }

  .titleMarketing {
    width: 80%;
    margin: 4rem auto;
  }

  .childTwo {
    grid-template-columns: .8fr auto;
  }

  .childGeneral h4 {
    margin: 1.3rem 0;
  }

  .childTwo a span {
    font: var(--font-five-secondary);
    width: auto;
    padding-bottom: .2rem;
  }

  .childTwo h4, .childGeneral h4 {
    font: var(--font-third-secondary);
  }

  .sectionBtn {
    margin: 0 auto;
    width: 80%;
  }

}






