:root {
  --backgroun-color-primary: #fcf9ee;
  --color-text: #141414;
  --font-family-base: "Favorit", sans-serif;
  --font-first: normal 400 .85vw/.85vw var(--font-family-base);
  --font-second: normal 400 13vw/2vw var(--font-family-base);
  --font-third: normal 400 4vw/2vw var(--font-family-base);
  --font-fourth: normal 400 2vw/1.5vw var(--font-family-base);
}


body, html {
  margin: 0;
  font-family: "Favorit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroun-color-primary);
  padding: 0;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
}


img {
  max-width: 100%;
  height: auto;
}



